@import url("styles.css");

#confirmation-section {
  padding: 0 20px;
}

.dsc-btn-container {
  padding: 0;
}

.dsc-confirmation-message {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  color: var(--dsc-color-font-primary);
  font-weight: 700;
}

@media (min-width: 576px) {
  .dsc-confirmation-message {
   font-size: 24px;
   text-align: left;
  }

  .dsc-btn-container {
    width: 220px;
  }
}
