@import url("styles.css");

#login-section {
  padding: 0 20px;
}

.dsc-login-form-container {
  width: 100%;
  color: var(--dsc-color-font-primary);
  max-width: 360px;
  margin: 0 auto;
}

.mt-20 {
  margin-top: 20px;
}

.dsc-login-form-button {
  width: 100%;
}

@media (min-width: 576px) {
  .dsc-login-form-container {
    padding: 20px 0;
  }
}
