@import url("styles.css");

#product-listing-section {
  padding: 20px 20px;
}

.dsc-title-listing {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--dsc-color-font-primary);
  font-size: 16px;
}

.dsc-product-listing-image {
  width: 69px;
  height: 69px;
}

.dsc-product-listing-btn {
  height: 20px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}

@media (min-width: 576px) {
  .dsc-title-listing {
    display: flex;
    justify-content: left;
    font-size: 24px;
  }
}
